<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <!--<span><img src="{{ "/assets/img/logonav.png" | relative_url }}" alt="Logo"></span> {{ site.title }}-->
                <span><img src="{{ "/assets/img/logonav.png" | relative_url }}" alt="Logo"></span> &nbsp;
                <span class="reclor">ReClor</span>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <div class="navbar-right">
            <ul class="nav navbar-nav">
                <!-- <li {% if page.sectionid=='docs' %} class="active" {% endif %}><a href="{{ "/docs/home/" | relative_url }}">Docs</a></li>
                <li {% if page.sectionid=='blog' %} class="active" {% endif %}><a href="{{ site.posts.first.url | relative_url }}">Blog</a></li> -->
                <li><a href="https://openreview.net/pdf?id=HJgJtT4tvB" target="_blank" rel="external">Paper</a></li>
                <!-- <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSe56wq5xIEGbDsgRN6P6lHr34jfv182AMuiIzjJXmVYCg39oA/viewform" target="_blank" rel="external">Download (Google Form)</a></li> -->
                <li><a href="#download" target="_blank" rel="external">Download</a></li>
                <li><a href="https://github.com/yuweihao/reclor" target="_blank" rel="external">Code</a></li>
                <li><a href="https://evalai.cloudcv.org/web/challenges/challenge-page/503/leaderboard/1347" target="_blank" rel="external">Leaderboard</a></li>
                <li><a href="#citation">Citation</a></li>
                <li><a href="#authors">Authors</a></li>
            </ul>
            </div>
            <!--
            <div class="navbar-right">
                <form class="navbar-form navbar-left">
                    <div class="form-group has-feedback">
                        <input id="search-box" type="search" class="form-control" placeholder="Search...">
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.git_address }}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            -->
        </div>
    </div>
</nav>
